td {
    text-align: right;
    color: brown;
}

thead {
    text-decoration: line-through;
    text-align: left;
}

a {
    color: green;
    text-decoration: underline dotted;
}

p {
    color: magenta;
    text-decoration: underline dashed
}

li {
    color: orange;
    text-decoration: underline;
}

#bamberg {
    color: blue;
}

.firsttwo {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.red {
    color: red;
}